@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contenido{
    padding:35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    display:grid;
    grid-template-columns:1fr 1fr;
    border-radius: 15px;
    background: white;
    width:700px;
    height: 520px;
    overflow: hidden;
    border:none;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:hsl(30, 38%, 92%);
    min-height:100vh;
}
.channel img{
    width:100%;
    display:inherit;
}

.perfume{
    color:hsl(228, 12%, 48%);
    font-family:'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;

}

.Essence{
    font-family: 'Fraunces', serif;
    color:hsl(212, 21%, 14%);
    font-size: 40px;
    
}
.articulo{
    font-family: 'Montserrat', sans-serif;
    color:hsl(228, 12%, 48%);
    line-height: 1.6em;
    
}
.price{
    display:flex;
    align-items: center;
    
    
}
.new-price{
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 30px;
    padding-right: 25px;
}
.old-price{
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    text-decoration:line-through;
    font-size:15px;
    padding-left: 20px;
    
}
.add-to-cart{
    background: hsl(158, 36%, 37%);
    border-radius: 12px;
    align-items: center;
    color:hsl(0, 0%, 100%);
    border:none;
    height: 50px;
    padding:14px 0;
    font-size: 14px;
    width:100%;
}
.add-to-cart:hover{
    background:hsl(160, 62%, 39%) ;
}
.add-to-cart:active{
    background:hsl(160, 89%, 15%) ;
}



section{
    margin:30px auto;
    padding:0 30px;
}

.add-to-cart img{
    padding-right: 7px;
}

@media(max-width:628px){
    .card{
        display:grid;
        grid-template-columns:1fr;
        border-radius: 15px;
        width:430px;
        height: 800px;
        overflow: hidden;
    }
    .channel img{
        width:100%;
        height:320px;
        object-fit: cover;
    }
    .channel{
        height: 180px;
    }
    .articulo{
        padding-right: 25px;
    }
    .perfume{
        font-size: 18px;
        padding-top: 40px;
    }
   }


@media(max-width:375px){
    .card{
        display:grid;
        grid-template-columns:1fr;
        border-radius: 15px;
        width:280px;
        height: 600px;
        overflow: hidden;
    }
    .channel img{
        width:100%;
        height:220px;
        object-fit: cover;
    }
    .channel{
        height: 100px;
    }
    .articulo{
        font-size: 10px;
        padding-right: 0;
    }
    .perfume{
        font-size: 10px;
        padding:0;
    }
    .Essence{
        font-size:20px;
        padding-right: 20px;
        padding-top: 0px;
    }
    .old-price{
        padding-left: 0px;
    }
   }
